{% extends 'base.html' %}
{% block title %}Rooms Register Page{% endblock %}
{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <table class="info
              no_menu
              ">
            <br><br><br><br><br>
                            <form method='post'>
            <caption> 숙소  정보 </caption>
            <tbody>
            <tr class="only-desktop">
                <th>주소</th>
                <td><input type="text" name=""><br>
                </td>
            </tr>
            <tr class="only-desktop">
                <th>전화번호</th>
                <td><input type="tel"></td>
            </tr>
            <tr>
                <th>음식 종류</th>
                <td>
                    <span><input type="text"></span>
                </td>
            </tr>
            <tr>
                <th>휴일</th>
                <td><input type="text"></td>
            </tr>

            </tbody>
        </table>
        <!-- Contact Section Form-->
        <div class="form-floating mb-3">
            <div class="col-lg-8 col-xl-7">

                    {% csrf_token %}
                    {{ roomsForm }}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
{% endblock %}